
* {
  font-family: "Montserrat", sans-serif;
}

html {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  margin: 0;
  background-color: #39404c;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  color: #33D6F5;
  font-size: 40px;
}

.search-container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.search-form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 12px;
  margin-bottom: 5px;
}

input {
  height: 25px;
  padding: 4px 8px;
  border-radius: 8px;
  height: 20px;
}

button {
  font-size: 14px;
  font-weight: 700;
  border-radius: 8px;
  text-transform: uppercase;
  background-color: #33D6F5;
  padding: 6px;
  width: 60%;
  margin-top: 10px;
  align-self: center;
  border: none;
}

#loading {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-text {
  font-size: 16px;
  margin-top: 14px;
  color: white;
}

.loading-desc {
  width: 400px;
  margin-top: 10px;
  text-align: center;
  color: #CCC;
}

.label {
  color: white;
}

.ens-domain {
  width: 340px;
  height: 24px;
  font-size: 16px;
}

.popular-apps {
  width: 80%;
  max-width: 1000px;
  margin-top: 30px;
}

.popular-apps-list {
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.popular-apps li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 200px;
  color: #33D6F5;
  border: 2px #33D6F5 solid;
  border-radius: 8px;
  cursor: pointer;
}

.popular-apps li {
  font-size: 18px;
  font-weight: 500;
  margin: 10px;
  text-align: center;
}

.popular-apps h3 {
  font-size: 20px;
  font-weight: 600;
  margin: 10px;
  text-align: center;
}

.popular-apps li p {
  margin: 5px;
  font-size: 12px;
  text-align: center;
  font-weight: 400;
}

.popular-apps li .description {
  padding: 0 10px;
  flex-grow: 1;
  text-align: center;
}

.popular-apps li:hover {
  transform: scale(1.05);
}

.ens-name {
  font-style: italic;
}


/** start - loader spinner **/

.lds-ring {
  margin-top: 20px;
  display: none;
  position: relative;
  width: 60px;
  height: 60px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  margin: 8px;
  border: 4px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #33D6F5 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/** end - loader spinner **/
